{% extends 'layout.html' %}



{% block content %}
<link href=" signup.css" rel="stylesheet" type="text/css" media="screen">
<body>
  <div class="signup">
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <h1>SIGN UP HERE</h1>
      <div>
        {{ form.username.label }}
        {{form.username}}
      </div>

      <div>
        {{ form.email.label }}
        {{form.email}}
      </div>

      <div>
        {{ form.password.label }}
        {{form.password}}
      </div>

      <div>
        {{ form.confirm_password.label }}
        {{form.confirm_password}}
      </div>

      <div class="submit">
        {{form.submit}}
      </div>
    </form>
    <div id="text">
    Already have an account? <a id="submit" href="{{ url_for('login')}}">Log In</a>
    </div>
  </div>
</body>



{% endblock content %}
