<html>
  <head>
    <title>404 Error</title>
    <link href="static/505.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
    <nav class="logo">
    <img src="static/stack.png" alt="Logo" width="300px" >
    </nav>

    <div class="error">
      <h1>An Unexpected Error occurred!</h1>
      <br>
      <p>The administrator has been contacted, sorry for the inconvenience</p>
      <img src="static/error.jpeg" alt="error" width="230px">
      <p><a href="{{ url_for('index') }}">Home</a></p>
    </div>
  </body>
</html>
