{% extends "layout.html" %}


{% block content %}
<link href="static/profile.css" rel="stylesheet" type="text/css" media="screen">
<body>
  <div class="wrapper">
    <div id="profile">
          <a class="home" href="{{ url_for('index') }}">Home</a><br>
      <h1> Profile Details</h1>
      <br>
        <img class="prof-image" src="{{image_file}}"><br>
          <h2 class="account-heading">Username: {{ current_user.username }}</h2><br>
          <h3 class="text-secondary">Email: {{ current_user.email }}</h3><br>
          <! Dummy data !>
          <h3> Posts: 2</h3><br>
          <h3> Followers: 32</h3><br>
          <h3> Following: 29</h3>
    </div>

    <div id="posts">
      <h1>My Posts:</h1>

      {% for post in posts %}
      <p>
      {{post.content}}
      </p>
      {% endfor %}


    </div>
  </div>
</body>
{% endblock content %}
